.load .load-letter,
.home .slider .slick-prev,
.home .slider .slick-next,
.serv .testim .testim-infos .myslide .name,
.work .gallery .item .over a,
.contact .infos-contact i,
footer p a,
footer p a:hover,
.infos-about i,
.about .about-cont .about-infos .education .education-info .date-educt,
.testim .tabbable .tab-content .profile-details h4,
.serv .serv-vid .play i,
.about .tabs-about .nav-link.active,
.contact .form .thanks span,
.navbar .social-media a:hover,{
    color: #d88b7c; 
}

.navbar .nav-item.active-nav {
    &.show-line {
        a {
            &:after {
                right: -50px;
                background-color: #d88b7c;
            }
        }
    }
}

.serv .testim .testim-infos .slick-arrow,
.serv .testim .title-testim p:before,
.serv .client .title-client p:before,
.about .about-cont .about-infos .education .education-info h6:after,
.line-title,
.line-right:after,
.maps .open-map,
.contact .form .message .send-btn,
.contact .form .message .send-btn input.btn,
.contact .form .message .send-btn,
.work .shuffle ul li.active,
.serv .serv-vid .play:hover,
.skills .progress .progress-bar,
.navbar-toggler .menu .line1,
.navbar-toggler .menu .line2,
.navbar-toggler .menu .line3 {
    background-color: #d88b7c;
}

.testim .tabbable .tab-content .profile-details,
.work .shuffle ul li.active,
.work .shuffle ul li {
    border: 1px solid #d88b7c;
}

.testim .tabbable .tab-content .profile-image .image-tab,
.testim .tabbable .list-tabs ul .active .image-tab {
    border: 2px solid #d88b7c; 
}

.contact .form .form-group textarea,
.contact .form .form-group input {
    border-bottom: 2px solid #d88b7c;
}

.about .tabs-about .nav-link.active {
  border-top: 2px solid #d88b7c;
}


.navbar .logo .bg_logo,
.serv .info-serv img {
    filter: hue-rotate(320deg);
}